* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color:whitesmoke;
}
 
h1 {
    font-size: 45px;
}

.SignUpBtn {
    width: 100px;
    height: 50px;
    padding: 10px;
    background-color: crimson;
    color:white;
    border-radius: 5px;
    border: 2px solid rgb(189, 0, 0);
}

.LogInBtn {
    width: 100px;
    height: 50px;
    padding: 10px;
    background-color:teal;
    color:white;
    border-radius: 5px;
    border: 2px solid darkslategray;
}


* a {
    text-decoration: none;
}

* a:visited {
    text-decoration: none;
    color:slategray;
}

nav {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: right;
    color:darkgrey;
}


nav ul {
    list-style: none;
    font-weight: 100;
    padding-right: 10px;
    border-right: 3px solid black;
}

nav ul li a:hover {
    color: royalblue;
}

.currentPage {
    font-weight: 500;
    color:royalblue;
}

.Help{
    font-size: 12px;
    font-weight: 100;
    color: grey;
}

.uniformWidth{
    position: relative;
    width: 1020px;
}

section{
    column-count: 3;
    column-gap: 30px;
    column-width: 100px;
    column-rule-style:dashed;
    column-rule-width:1px;
}

.sliding{
    position: relative;
    height: 65px;
    overflow: hidden;
    animation-name: sliding;
    animation-timing-function: ease-out;
    animation-duration: 2s;
}

@keyframes sliding {
    from {margin-left: 1020px; overflow: hidden;}
    to {margin-left: 0%; width:100%;}
}

main{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

item div img {
    width: 250px;
    height: 250px;
}
item {
    width: 900px;
    display: flex;
    flex-direction: row;
    column-count: 2;
    flex-wrap: wrap;
}


main div {
    display: flex;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 15px;
    padding: 0x;
    background-color: white;
}

main > div{
    width: 200px;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px;
}

.item {
    margin: 5px;
}


h2 {
    padding: 3px;
    border: 2px solid royalblue;
    border-top: none;
    border-left: none;
    border-right: none;
}

#none div{
    display: none;
}


item div div {
    width: 200px;
    border: 0;
    height: 50px;
    margin-right: 0;
    background-color: rgb(0, 64, 255); opacity: 0.7;
    text-align: left;
    color: white;
}

#currentDetail {
    display: block;
}

