* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    padding: 10px;
    background-color:whitesmoke;
}
 
h1 {
    font-size: 45px;
}

.SignUpBtn {
    width: 100px;
    height: 50px;
    padding: 10px;
    background-color: crimson;
    color:white;
    border-radius: 5px;
    border: 2px solid rgb(189, 0, 0);
}

.LogInBtn {
    width: 100px;
    height: 50px;
    padding: 10px;
    background-color:teal;
    color:white;
    border-radius: 5px;
    border: 2px solid darkslategray;
}


* a {
    text-decoration: none;
}

* a:visited {
    text-decoration: none;
    color:slategray;
}

nav {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0px 40px;
    text-align: right;
    color:darkgrey;
}


nav ul {
    list-style: none;
    font-weight: 100;
    padding-right: 10px;
    border-right: 3px solid black;
}

nav ul li a:hover {
    color: royalblue;
}

.currentPage {
    font-weight: 500;
    color:royalblue;
}

.Help{
    font-size: 12px;
    font-weight: 100;
    color: grey;
}